<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GigHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/Home/Index/">GigHub</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" href="/Gigs/Create/">
                                Add gig
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="login mr-0 mr-sm-3 mr-sm-5 mb-3 mb-sm-0 d-block d-sm-inline-block">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GigHupProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/underscore-min.js"></script>
    <script src="~/js/bootbox/bootbox.all.js"></script>
    <script src="~/js/bootbox/bootbox.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications,function(notification){
            if(notification.type ==1){ %>
            <li><span class="highlight"><%= notification.gig.artist.name %></span> Artist has canceled the gig at <%= notification.gig.venue%> at <%= moment(notification.gig.dateTime).format("D MMM HH:mm") %>.</li>
            <% }
            else if(notification.type ==2)
            {
            var changes = [],
            originalValues =[],
            newValues = [];
            if(notification.OriginalVenue != notification.gig.venue){
            changes.push('venue');
            originalValues.push(notification.OriginalVenue);
            newValues.push(notification.gig.venue);
            }

            if(notification.OriginalDateTime != notification.gig.dateTime){
            changes.push('date/time');
            originalValues.push(moment(notification.OriginalDateTime).format("D MMM HH:mm"));
            newValues.push(moment(notification.gig.dateTime).format("D MMM HH:mm"));
            }
            %>
            <li><span class="highlight"><%= notification.gig.artist.name %></span> has Change the <%= changes.join(' and ')%> of the gig from <%= originalValues.join('')%> to <%= newValues.join('')%></li>
            <%
            }

            })
            %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications/", function (notifications) {
                if (notifications.length == 0)
                    return;
                $(".js-notification-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animate__animated animate__heartBeat");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });
                    },
                    placement: "bottom",
                    template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'
                }).on("shown.bs.popover", function () {
                    debugger;
                    $.post("/api/notifications/MarkAsRead/")
                        .done(function () {
                            $(".js-notification-count")
                                .text("")
                                .addClass("hide")
                        });
                });
            });
        });

    </script>
</body>
</html>
