@model GigDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div>

    <h2>
        @Model.Gig.Artist.Name
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.IsFollowing)
            {


                <button class="btn btn-info">Following</button>
            }
            else
            {
                <button class="btn btn-light">Follow</button>

            }
        }
    </h2>
    <hr />
    <p>
        performing at <strong> @Model.Gig.Venue </strong> on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:MM")
    </p>
    @if (User.Identity.IsAuthenticated && Model.IsAttending)
    {
        <p>You are Going to this Event</p>
    }
</div>
@section scripts{
    <script>

    </script>
}



