@model GigformViewModel

@{
    ViewData["Title"] = Model.Heading;
}


<div class="container">
    <h2> @Model.Heading</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @*<form asp-action="Create">*@
            @using(Html.BeginForm(Model.Action,"Gigs"))
            { 
                <p class="alert alert-info">All fields are <strong>Required</strong>.</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(e => e.Id)
                <div class="form-group">
                    <label asp-for="Venue" class="control-label"></label>
                    <input asp-for="Venue" class="form-control" />
                    <span asp-validation-for="Venue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input type="date" asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input type="time" asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genre" class="control-label"></label>
                    <select asp-for="Genre" class="form-control" asp-items="ViewBag.GenreId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            }
           @* </form>*@
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
